@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.animationcard:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}
.animationimg:hover {
  filter: drop-shadow(0 0 2em #a97649aa);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: bisque;
}
